/* Start Global Rules */
:root {
  --main-color: #ececec;
  --header-color: #222831;
  --second-color: #2192ec;
  --main-transition: 0.5s;
  --section-padding: 100px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  scroll-behavior: smooth;

}

body {
  font-family: "Montserrat";
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  text-decoration-skip-ink: auto;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large  */
@media (min-width: 1700px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */
/* Start Component */
.main-heading {
  text-align: start;
}

.main-heading h2 {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px 10px 40px;
  color: var(--header-color);
  width: 100%;
  font-size: 32px;
  font-weight: normal;
  white-space: nowrap;
  counter-increment: counter-member;
}

.main-heading span {
  position: relative;
  bottom: -45px;
  left: -33px;
  margin-right: 10px;
  color: var(--second-color);
  font-size: 25px;
  font-weight: 300;
  font-family: monospace;
}

.main-heading h2::after {
  content: "";
  width: 300px;
  height: 0.1px;
  background-color: var(--header-color);
  margin-left: 20px;
  top: 0;
  left: 0;
}

@media (max-width: 600px) {
  .main-heading h2::after {
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .main-heading h2::after {
    width: 100%;
  }
}

@media (max-width: 1080px) {
  .main-heading h2::after {
    width: 200px;
  }
}

a .elzero {
  color: var(--second-color);
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  position: relative;
}

a .elzero span {
  position: absolute;
  display: block;
  top: 22px;
  transition: var(--main-transition);
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--second-color);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

a .elzero:hover span {
  width: 100%;
}

@media (max-width: 767px) {
  a .elzero {
    font-size: 15px;
  }
}

/* End Component */
/* Start Header */
.header {
  display: flex;
  position: relative;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  background-color: var(--header-color);
  z-index: 1122;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}

header .container a {
  display: block;
  position: relative;
}

header .container a .overlay {
  display: none;
  width: 75px;
  height: 75px;
  background-color: #21273080;
  position: absolute;
  top: 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

header .container a:hover .overlay {
  display: block;
}

header .logo img {
  height: 75px;
}

header nav {
  flex: 1;
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav .toggle-menu {
  color: var(--main-color);
  font-size: 30px;
}

@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}

header nav>ul {
  display: flex;
}

@media (max-width: 767px) {
  header nav ul {
    display: none;
  }

  .header {
    display: block !important;
  }

  header nav .toggle-menu:hover+ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--header-color);
    width: 100%;
    text-align: center;
  }

  header nav ul li a {
    padding: 20px !important;
  }
}

header nav ul li a {
  display: block;
  font-size: 18px;
  color: var(--main-color);
  padding: 0 18px;
  text-decoration: none;
  text-transform: lowercase;
}

header nav ul li:not(:last-child):hover a {
  font-size: 20px;
  color: #767474;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

header nav ul li ul {
  display: flex;
}

header nav ul li ul li {
  width: 3.2rem;
  cursor: pointer;
  color: var(--main-color);
  position: relative;
}

header nav ul li ul li i {
  font-size: 25px;
}

header nav .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  text-align: center;
}

header nav .icons i:hover {
  font-size: 20px;
  color: #767474;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

/* End Header */
/* Start Landing */
.landing {
  width: 100%;
  height: 100vh;
  background-color: var(--main-color);
  background-image: url(../images/background.jpg);
  background-size: cover;
  position: relative;
}

.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 75%);
}

.landing .container {
  display: flex;
  align-items: flex-end;
}

.landing .text {
  z-index: 7;
}

.landing .text .content {
  max-width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  height: 100vh;
  padding: 20px;
}

.landing .text1 h1 {
  line-height: 1;
  margin: 00 20px 4px;
  font-weight: 400;
  font-size: 18px;
  color: var(--second-color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.landing .text2 h2 {
  font-size: 50px;
  color: hsla(0, 0%, 100%, 0.7);
  margin: 0 00 4px;
}

.landing .text3 h3 {
  font-size: 40px;
  color: hsla(0, 0%, 100%, 0.5);
  margin: 5px 0 10px 4px;
}

@media (max-width: 767px) {
  .landing .text2 h2 {
    font-size: 35px;
  }

  .landing .text3 h3 {
    font-size: 25px;
  }
}

.landing .text4 h4 {
  margin: 0 0 10px 4px;
  line-height: 1.2;
  font-size: 15px;
  color: var(--main-color);
  font-weight: 400;
}


@media (max-width: 767px) {
  .landing .text .content .text4 h4 a .elzero {
    font-size: 15px;
  }
}

.landing .text .content .text4 h4 a .elzero span {
  position: absolute;
  display: block;
  top: 22px;
  transition: var(--main-transition);
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--second-color);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.landing .text .content .text4 h4 a .elzero:hover span {
  width: 100%;
}

.landing .text .content .icon {
  position: relative;
  width: 100%;
}

.landing .text .content .icon a {
  display: block;
  width: 100%;
}

.landing .icon {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.landing .icon i {
  animation: icon 1.5s infinite;
  -webkit-animation: icon 1.5s infinite;
}

@keyframes icon {

  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-15px);
  }
}


/* End Landing */
/* Start About */
.about {
  padding: var(--section-padding);
  background-color: var(--main-color);
  height: fit-content;
  width: 100%;
  position: relative;
}

@media (max-width: 1120px) {
  .about {
    padding: 90px;
  }
}

@media (max-width: 991px) {
  .about {
    padding: 80px;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 50px;
  }
}

.about .container {
  max-width: fit-content;
}

.about .container p {
  margin: 25px;
  font-size: 25px;
  font-weight: normal;
  color: #222831;
  font-family: monospace;
}

@media (max-width: 767px) {
  .about .container p {
    margin: 0;
  }
}

.about .container .info {
  display: flex;
  max-width: fit-content;
  flex-direction: row;
  flex-basis: 1;
}

@media (min-width: 991px) {
  .about .container .info {
    max-width: 900px;
  }
}

@media (max-width: 991px) {
  .about .container .info {
    flex-direction: column;
  }
}

.about .container .image {
  margin: 15px auto;
  position: relative;
  display: block;
  max-width: 300px;
}

.about .container .image img {
  width: 300px;
  filter: grayscale(100%) contrast(1) blur(1px);
  -webkit-filter: grayscale(40%) contrast(1) blur(1px);
  border-radius: 50%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (max-width: 767px) {
  .about .container .image img {
    max-width: 250px;
  }
}

.about .container .image img:hover {
  filter: blur(0) grayscale(0%) contrast(1);
  -webkit-filter: blur(0) grayscale(0%) contrast(1);
}

.about .container .info a .elzero {
  color: var(--second-color);
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  position: relative;
}

.about .container .info a .elzero span {
  position: absolute;
  display: block;
  top: 22px;
  transition: var(--main-transition);
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--second-color);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.about .container .info a .elzero:hover span {
  width: 100%;
}

.about .container .info a {
  display: inline-block;
  position: relative;
}

.about .container .info a i:hover {
  margin-top: -5px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

/* End About */
/* Start Skills */
.skills {
  padding: var(--section-padding);
  background-color: var(--main-color);
  width: 100%;
  position: relative;
}

@media (max-width: 991px) {
  .skills {
    padding: 40px;
  }
}

/* Small */
@media (min-width: 768px) {
  .skills .container {
    width: 720px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .skills .container {
    width: 833px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .skills .container {
    width: 1034px;
  }
}

.skills .container .main-heading {
  margin-bottom: 80px;
}

.skills .box-holder {
  margin-bottom: 40px;
}

.skills .box-holder h4 {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 15px;
}

.skills .container .box-holder .box {
  height: 30px;
  background-color: #daddde;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.skills .container .box-holder .box span {
  display: block;
  height: 100%;
  position: relative;
  background-color: var(--second-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.skills .container .box-holder .box span::before {
  content: attr(data-progress);
  position: absolute;
  color: var(--main-color);
  background-color: var(--header-color);
  top: -60px;
  right: -18px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.skills .container .box-holder .box span::after {
  content: "";
  position: absolute;
  top: -14px;
  right: -4px;
  border-color: var(--header-color) transparent transparent transparent;
  border-width: 10px;
  border-style: solid;
}

/* End Skills */
/* Start Projects */
.project {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  position: relative;
  background-color: var(--main-color);
  height: 100%;
}


.project .projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
}

.project .box {
  background-color: var(--main-color);
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

@media (max-width: 767px) {
  .project .box {
    width: 375px;
  }
}

.project .box .image {
  padding: 50px;
}

.project .box img {
  filter: grayscale(100%);
  width: 600px;
  max-width: 100%;
  box-shadow: 0 0 10px 0px #00000078;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  -webkit-filter: grayscale(100%);
}

.project .box:hover img {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.project .box .caption {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 20px;
  bottom: -80%;
  background-color: white;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

@media (max-width: 767px) {
  .project .box .caption {
    padding: 10px;
  }
}

.project .box:hover .caption {
  bottom: 0;
}

.project .box .caption h2 {
  font-size: 25px;
  letter-spacing: -1;
  color: var(--header-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

@media (max-width: 767px) {
  .project .box .caption h2 {
    font-size: 15px;
  }
}

.project .box .caption h2:hover {
  color: var(--second-color);
}

.project .box .caption p {
  margin: 10px 15px;
  font-size: 20px;
}

@media (max-width: 767px) {
  .project .box .caption p {
    font-size: 15px;
  }
}

.project .box .caption .sours {
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin: 20px 10px 0;
}

@media (max-width: 767px) {
  .project .box .caption .sours {
    width: 40px;
  }
}

.project .box .caption .sours i {
  color: var(--header-color);
  font-size: 25px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

@media (max-width: 767px) {
  .project .box .caption .sours i {
    font-size: 15px;
  }
}

.project .box .caption .sours i:hover {
  color: var(--second-color);
}

/* End Projects */
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--main-color);
  width: 100%;
  position: relative;
}

@media (max-width: 767px) {
  .contact {
    padding: 150px 0 50px;
  }

  .contact .container {
    padding-left: 50px;
  }
}

.contact .container .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .container .info h2 {
  padding: 40px;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .contact .info h2 {
    line-height: 2;
    padding: 20px !important;
  }
}

@media (max-width: 500px) {
  .contact .info h2 {
    line-height: 2;
    padding: 10px !important;
  }
}

.contact .container .info p {
  font-size: 20px;
  font-family: monospace;
  text-align: center;
  padding: 0 0 20px;
  text-transform: capitalize;
}

.contact .container .info a {
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px 20px 15px;
  border: var(--second-color) 1px solid;
  color: var(--second-color);
}

.contact .container .info a:hover {
  background-color: #daddde;
}

/* End Contact */
/* Start Footer */
.footer {
  padding: 30px 10px;
  text-align: center;
  background-color: var(--header-color);
  color: var(--main-color);
  font-size: 18px;
  width: 100%;
  position: relative;
}

@media (max-width: 767px) {
  .footer {
    padding: 20px 10px;
    font-size: 15px;
  }
}

.footer a p {
  text-align: center;
  font-family: monospace;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.footer a p:hover {
  color: var(--second-color);
}

/* End Footer */